body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #e0e0e0; */
    height:  100svh;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.main {
    background-color: black;
    border-radius: 2rem;
    padding: 3.5rem;
}



.inputElement {

    background-color: #fff;
    color: white;
    margin: 7rem 0 2rem 0;
    text-align: right;
    background-color: transparent;
    border: none;
    font-size: 3rem;
    outline: none;
}


.inputDiv {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.first .number0 {
    width: 40%;
    border-radius: 5rem;
}

.first div:active {
    background-color: rgb(226, 219, 219);
    opacity: 0.2;
    transition: opacity 0.1;
}


.first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.first div {
    padding: 1.7rem;
    background-color: rgb(69, 68, 67);
    border-radius: 50%;
    font-size: 2rem;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first .number2 {
    background-color: #ccc;
    color: black;
}


.first .number3 {
    background-color: rgb(225, 159, 60);
}



@media screen and (max-width: 450px) {
    body{
        background-color: black;
    }
    .main{
        
    }
    
    .inputElement {

        background-color: #fff;
        color: white;
        
        text-align: left;
        background-color: transparent;
        border: none;
        font-size: 2rem;
        outline: none;
    }
    .first div {
        padding: 1rem;
        background-color: rgb(69, 68, 67);
        border-radius: 50%;
        font-size: 2rem;
        height: 3rem;
        width: 3rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .inputDiv{
        gap: 1rem;
    

    
    }

    
  }